<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agmcs.FloatingShadow" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 有米 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 有米 -->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Receivers.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>

        <service android:name=".FxService" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>
        </service>
        <service
            android:name=".MyAccessibility"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <activity
            android:name=".Activitys.AppSeclectActivity"
            android:label="@string/title_activity_app_seclect"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activitys.ImageSelectActivity"
            android:label="@string/title_activity_image_select"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activitys.ScreenFilterActivity"
            android:label="@string/title_activity_screen_filter"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" >
        </activity>
        <activity
            android:name=".Activitys.FunctionSelectActivity"
            android:label="@string/title_activity_function_select"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name=".Receivers.LockReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/lockscreen" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activitys.UnlockActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 有米 -->
        <activity
            android:name="net.testin.android.hnaase"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <receiver android:name="net.testin.android.hnahse" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="net.testin.android.hnaise"
            android:exported="false" >
        </service>
        <service
            android:name="net.testin.android.hnbise"
            android:exported="false" >
        </service>

        <!-- 有米 -->

        <activity
            android:name=".Activitys.OpenDevicePolicyManagerActivity"
            android:label="@string/title_activity_open_device_policy_manager"
            android:theme="@style/Transparent" >
        </activity>
        <activity
            android:name=".Activitys.PayQRActivity"
            android:label="@string/title_activity_pay_qr" >
        </activity>
    </application>

</manifest>
